body {
  background-color: rgb(255, 244, 244);
  width: 100vw;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 7rem 7rem 7rem;
  grid-gap: 0;
  justify-content: center;
  margin-top: 1.5rem;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 5rem;
  color: #67e245;
}

.card{
  background: transparent;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.card0, .card1, .card3, .card4{
  border-right: 4px rgb(249, 133, 133) solid;
  border-bottom: 4px rgb(249, 133, 133) solid;
}

.card2, .card5{
  border-bottom: 4px rgb(249, 133, 133) solid;
}

.card6, .card7{
  border-right: 4px rgb(249, 133, 133) solid;
}